<ng-container *ngIf="heroe">
    <h1 class="text-center">{{heroe.name}}</h1>
    <div class="container">
        <a class="goback btn btn-default btn-sm" (click)="goBack()">
            Volver al listado </a>
        <div class="row" class="heroe-profile">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <img [src]="heroe.thumbnail.path + '.' + heroe.thumbnail.extension">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h3>Descripción</h3>
                <p>{{heroe.description || 'Description not found...'}}</p>
                <p class="modified">{{heroe.modified | date:'fullDate'}}, {{heroe.modified | date:'shortTime'}}
                </p>
                <p><button type="button" class="btn btn-primary" (click)="launchModal()">Clasificar</button></p>
                <p *ngIf="team!=undefined && team!=''">Este heroe pertenece al equipo <b
                        [style.color]="heroesService.group_colors[team]">{{team}}</b></p>
            </div>
        </div>
    </div>
</ng-container>
<nf-modal-poll (setTeam)="getTeam($event)" [team_selected]="team" [title_modal]="question_modal" [hero]="heroe" #modal>
</nf-modal-poll>