<h1 class="text-center">{{title}}</h1>
<div class="container">
  <div class="row">
    <form (ngSubmit)="submitSearch()">
      <div class="form-group col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input type="text" [(ngModel)]="searchString" name="searchString" class="form-control" id="search"
            autocomplete="off" placeholder="Búsqueda de super-héroe">
        </div>
      </div>
    </form>
    <div *ngFor="let heroe of heroesList" class="col-xs-12 col-sm-6 col-md-3">
      <a [routerLink]="['/heroe', heroe.id]" class="hero-entry"
        [style.border-color]="heroesService['group_colors'][heroe.teamColor]"
        [style.background-image]="'url(' + heroe.thumbnail.path + '.' + heroe.thumbnail.extension + ')'">
        <span>{{heroe.name}}</span>
      </a>
    </div>
    <div class="paginator col-xs-12">
      <a class="paginator-prev" (click)="prevPage()" *ngIf="getHeroesService().page > 0">Prev</a>
      Página {{getHeroesService().page + 1}} de {{getHeroesService().total}}
      <a class="paginator-next" (click)="nextPage()"
        *ngIf="getHeroesService().page < getHeroesService().total - 1">Next</a>
    </div>
  </div>
</div>